@media (min-width: 768px) {
  .section-5 .left-section {
    width: 30%!important;
  }
  
  .section-5 .right-section {
    width: 65%!important;
  }
}

@media (max-width: 992px) {
  .section-5 .left-section,
  .section-5 .right-section {
    width: 100%;
  }
  
  .section-1 .right-section :last-child {
    position: relative;
    transform: none;
    margin-top: 20px;
  }
  
  header .title {
    margin: 40px auto 0 20px;
  }
}

@media (max-width: 768px) {
  nav {
    flex-direction: column;
    padding: 10px;
  }
  
  nav ul {
    justify-content: center;
    width: 100%;
    padding: 10px 0;
  }
  
  nav .left-navbar {
    text-align: center;
    width: 100%;
  }
  
  .section-7 .container .right-section .footer {
    justify-content: center;
  }
  
  .section-7 .container .right-section .footer .right-footer {
    padding: 0 0 20px 0;
  }
  
}

@media (max-width: 568px) {
  .container {
    width: 95%;
    padding-block: 30px;
  }
  
  header .title {
    margin: 20px auto;
    text-align: center;
  }
  
  header .slide {
    justify-content: center;
  }
  
  nav ul li {
    padding-right: 5px;
  }
  
  nav ul li a {
    padding: 5px 8px;
  }
  
  .section-4 .container .inner {
    padding: 10px;
  }
  
  .section-7 .container .right-section > p {
    padding: 15px;
  }
  
  footer .subscribe-form {
    flex-direction: column;
  }
  
  footer .subscribe-form input,
  footer .subscribe-form button {
    width: 100%;
  }
}
